/****** Script for SelectTopNRows command from SSMS  ******/
    
-------- Services TestData --------------
insert into [Tasko].[dbo].[Services] values(NEWID(),'Electrician',null)
insert into [Tasko].[dbo].[Services] values(NEWID(),'Plumber',null)
insert into [Tasko].[dbo].[Services] values(NEWID(),'Carpenter',null)
--- Sub services of Electrician Service
select * from [Tasko].[dbo].[Services]
  
------------ ID Proof TestData -----------
insert into [Tasko].[dbo].[IdProofs] values(NEWID(),'PAN Card')
insert into [Tasko].[dbo].[IdProofs] values(NEWID(),'Passport')
insert into [Tasko].[dbo].[IdProofs] values(NEWID(),'Aadhar Card')
select * from [Tasko].[dbo].[IdProofs]

----- Order Status TestData-----
insert into [Tasko].[dbo].[OrderStatus] values(newid(), 'Requested')
insert into [Tasko].[dbo].[OrderStatus] values(newid(), 'Pending')
insert into [Tasko].[dbo].[OrderStatus] values(newid(), 'Accepted')
select * from [Tasko].[dbo].[OrderStatus]

  