USE [master]
GO
/****** Object:  Database [TASKO]    Script Date: 5/11/2016 10:53:02 PM ******/
CREATE DATABASE [TASKO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TASKO', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TASKO.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TASKO_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TASKO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TASKO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TASKO]
GO
/****** Object:  Table [dbo].[IdProofs]    Script Date: 5/11/2016 10:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IdProofs](
	[Id] [binary](16) NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_IdProofs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Services]    Script Date: 5/11/2016 10:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [binary](16) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[ParentService] [binary](16) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 5/11/2016 10:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [binary](16) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[VendorId] [int] NOT NULL,
	[MobileNumber] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Photo] [image] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorProof]    Script Date: 5/11/2016 10:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorProof](
	[Id] [binary](16) NOT NULL,
	[VendorId] [binary](16) NOT NULL,
	[ProofId] [binary](16) NOT NULL,
 CONSTRAINT [PK_VendorProof] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorServices]    Script Date: 5/11/2016 10:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VendorServices](
	[Id] [binary](16) NOT NULL,
	[VendorId] [binary](16) NOT NULL,
	[ServiceId] [binary](16) NOT NULL,
 CONSTRAINT [PK_VendorServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_ParentService] FOREIGN KEY([ParentService])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_ParentService]
GO
ALTER TABLE [dbo].[VendorProof]  WITH CHECK ADD  CONSTRAINT [FK_IdProof] FOREIGN KEY([ProofId])
REFERENCES [dbo].[IdProofs] ([Id])
GO
ALTER TABLE [dbo].[VendorProof] CHECK CONSTRAINT [FK_IdProof]
GO
ALTER TABLE [dbo].[VendorProof]  WITH CHECK ADD  CONSTRAINT [FK_ProofVendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[VendorProof] CHECK CONSTRAINT [FK_ProofVendor]
GO
ALTER TABLE [dbo].[VendorServices]  WITH CHECK ADD  CONSTRAINT [FK_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[VendorServices] CHECK CONSTRAINT [FK_ServiceId]
GO
ALTER TABLE [dbo].[VendorServices]  WITH CHECK ADD  CONSTRAINT [FK_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[VendorServices] CHECK CONSTRAINT [FK_VendorId]
GO
USE [master]
GO
